<div class="devise">
  <div class="devise-content">
    <%= simple_form_for @raid do |f| %>
    <%= f.association :dungeon, collection: Dungeon.all.order(name: :asc), required: true %>
    <%= f.input :faction, collection: Raid.factions, selected: 1, required: true %>
    <%= f.association :leader, collection: Toon.where(user: current_user).order(name: :asc) %>
    <%= f.input :difficulty, collection: Raid.difficulties, selected: 0, required: true %>
    <%= f.input :date, input_html: { class: 'datetimepicker' }, placeholder: 'Y/m/d H:i', required: true %>
    <%= f.submit 'Create raid', class: 'btn btn-primary' %>
    <% end %>

    <%= content_for :after_js do %>
    <script>
    $(document).ready(function(){
      $('.datetimepicker').datetimepicker({
        step: 30,
      });
    });
    </script>
    <% end %>
  </div>
</div>
