<div class="raid-show">
  <div class="raid-show-title">
    <h1><%= "#{@raid.dungeon.name} #{@raid.difficulty}" %></h1>
    <h3><%= "#{Time.parse(@raid.date).to_date.strftime('%A %d %B %Y')} at #{Time.parse(@raid.date).strftime('%H:%M')}" %></h3>
  </div>
  <div class="raid-show-tags">
    <div class="raid-show-tags-pending">
      <div class="raid-show-tags-pending-title">
        <h3>Pending(<span class="pending-count">0</span>)</h3>
      </div>
      <div class="raid-show-tags-pending-content">
        <% if @pending_tags.where(toon: current_user.toons).empty? && @raid.tags.where(toon: current_user.toons).empty? %>
          <div class="apply">
            <div class="apply-content">
              <i class="fa fa-plus-circle"></i>
              <span>Apply to this raid</span>
            </div>
            <%= link_to '', new_raid_tag_path(@raid) %>
          </div>
        <% else %>
          <% if @pending_tags.any? %>
            <%= render 'pending_tags' %>
          <% else %>
            <div class="apply">
              <div class="apply-content">
                <span>No applications yet o(╥﹏╥)o</span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="raid-show-tags-accepted">
      <div class="raid-show-tags-accepted-title">
        <h3>Roster</h3>
      </div>
      <div class="raid-show-tags-accepted-content">
        <%= render 'accepted_tags' %>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    $('.pending-count').text(
      $('.raid-show-tags-pending-content').find('.pending-card').length
    );
  </script>
<% end %>
