<% content_for :title, "#{@raid.dungeon.name} #{@raid.difficulty} | #{Time.parse(@raid.date).to_date.strftime('%A %d %B %Y')} at #{Time.parse(@raid.date).strftime('%H:%M')}" %>

<div class="raid-show">
  <div class="raid-show-title">
    <h1><%= "#{@raid.dungeon.name} #{@raid.difficulty}" %></h1>
    <h3><%= "#{Time.parse(@raid.date).to_date.strftime('%A %d %B %Y')} at #{Time.parse(@raid.date).strftime('%H:%M')}" %></h3>
  </div>
  <div class="raid-show-tags">
    <div class="raid-show-tags-pending">
      <div class="raid-show-tags-pending-title">
        <h3>Pending(<span class="pending-count">0</span>)</h3>
      </div>
      <div class="raid-show-tags-pending-content">
        <% if @pending_tags.where(toon: current_user.toons).empty? && @raid.tags.where(toon: current_user.toons).empty? %>
          <div class="apply">
            <div class="apply-content">
              <i class="fa fa-plus-circle"></i>
              <span>Apply to this raid</span>
            </div>
            <%= link_to '', new_raid_tag_path(@raid) %>
          </div>
        <% else %>
          <% if @pending_tags.any? %>
            <%= render 'pending_tags' %>
          <% else %>
            <div class="apply">
              <div class="apply-content">
                <span>No applications yet o(╥﹏╥)o</span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="raid-show-tags-accepted">
      <div class="raid-show-tags-accepted-title">
        <h3>
          Roster &nbsp <%= image_tag 'https://vignette4.wikia.nocookie.net/wowwiki/images/7/7e/Icon-class-role-tank-42x42.png', style: 'width: 27px;' %>
          <span class="tanks">0</span> <%= image_tag 'https://vignette4.wikia.nocookie.net/wowwiki/images/0/07/Icon-class-role-healer-42x42.png', style: 'width: 27px;' %>
          <span class="heals">0</span> <%= image_tag 'https://vignette4.wikia.nocookie.net/wowwiki/images/3/3f/Icon-class-role-dealer-42x42.png', style: 'width: 27px;' %>
          <span class="dps">0</span>
        </h3>
      </div>
      <div class="raid-show-tags-accepted-content">
        <div class="raid-show-tags-accepted-content-title">
          <p> <span><%= image_tag 'https://vignette4.wikia.nocookie.net/wowwiki/images/7/7e/Icon-class-role-tank-42x42.png', style: 'width: 20px; vertical-align: sub;' %></span> Tanks</p>
        </div>
        <div class="raid-show-tags-accepted-content-tanks">
          <%= render partial: 'accepted_tags', locals: { tags: @tank_tags} %>
        </div>
        <div class="raid-show-tags-accepted-content-title">
          <p> <span><%= image_tag 'https://vignette4.wikia.nocookie.net/wowwiki/images/0/07/Icon-class-role-healer-42x42.png', style: 'width: 20px; vertical-align: sub;' %></span> Heals</p>
        </div>
        <div class="raid-show-tags-accepted-content-heals">
          <%= render partial: 'accepted_tags', locals: { tags: @heal_tags} %>
        </div>
        <div class="raid-show-tags-accepted-content-title">
          <p> <span><%= image_tag 'https://vignette4.wikia.nocookie.net/wowwiki/images/3/3f/Icon-class-role-dealer-42x42.png', style: 'width: 20px; vertical-align: sub;' %></span> Dps</p>
        </div>
        <div class="raid-show-tags-accepted-content-dps">
          <%= render partial: 'accepted_tags', locals: { tags: @dps_tags} %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    $('.pending-count').text(
      $('.raid-show-tags-pending-content').find('.pending-card').length
    );
    $('.tanks').text(
    	$('.raid-show-tags-accepted-content-tanks').children().length
    );
    $('.heals').text(
    	$('.raid-show-tags-accepted-content-heals').children().length
    );
    $('.dps').text(
    	$('.raid-show-tags-accepted-content-dps').children().length
    );
    $currentUserAdmin = <%= current_user.admin %>
    if (!$currentUserAdmin) {
      $('.accept-link').replaceWith('<div class="fake-div-status"></div>');
      $('.refuse-link').replaceWith('<div class="fake-div-status"></div>');
      }

  </script>
  <script>
    App.cable.subscriptions.create(
      {
        channel: "RaidChannel",
        raid_id: <%= @raid.id %>
      },
      {
        connected: function(data) {
          console.log("[CONNECTED]");
        },
        received: function(data) {
          console.log(data.raid_id);
          $.ajax({
            type: "GET",
            url: "/raids/" + data.raid_id + "/render_cable_card",
            success: function(data) {
              console.log(data);
            },
            error: function(jqXHR) {
              console.error(jqXHR.responseText);
            }
          });
        }
      }
    );
  </script>
  <script>
    App.cable.subscriptions.create(
      {
        channel: "CardChannel",
        raid_id: <%= @raid.id %>
      },
      {
        connected: function(data) {
          console.log("[CONNECTED to card channel]");
        },
        received: function(data) {
          console.log(data.html);
        }
      }
    );
  </script>
<% end %>
