<div class="footer">
  <div class="tchin">
    <div class="tchin-socials">
      <%= link_to 'https://www.twitch.com/tchinontwitch' do %>
        <i class= "fa fa-twitch"></i>
      <% end %>
      <%= link_to 'https://twitter.com/Tchinq' do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <%= link_to '', 'https://discord.gg/gxPhqN4', class: 'discord' %>
    </div>
    <div class="tchin-content">
      <p>Tchinontwitch<i class="fa fa-copyright"></i> 2017 </p>
    </div>
  </div>
  <div class="volchan">
    <div class="volchan-socials">
      <%= link_to 'https://github.com/volchan' do %>
        <i class="fa fa-github"></i>
      <% end %>
      <%= link_to 'https://lewagon-alumni.slack.com/team/volchan' do %>
        <i class="fa fa-slack"></i>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/stéphane-de-la-torre-b748a3144/' do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
    </div>
    <div class="volchan-content">
      <p><i class="fa fa-code"></i> with <i class="fa fa-heart" style="color: #EE5F5B"></i> by Volchan</p>
    </div>
  </div>
</div>
